{% extends "layouts/default.html" %}

{% block css %}
<link rel="stylesheet" href="/libraries/lightgallery/css/lightgallery.min.css">
{% endblock %}

{% block content %}

<div class="section" id="about-1">
    <div class="section-container">
        <div class ="section-heading-container">
            <h1 class="section-heading">O NAS</h1>
        </div>
        <div class="section-text-container">
                <p class="section-text">Jesteśmy firmą z wieloletnim doświadczeniem w branży klimatyzacyjno-wentylacyjnej.
                     Tworzymy pomysłowe, nowatorskie rozwiązania dopasowane do potrzeb klienta.                
                </p>
                <br>
                <p class="section-text">Przez lata działalności nabyliśmy doświadczenie i bardzo szerokie grono zadowolonych klientów oraz opinię rzetelnego,
                     godnego polecenia partnera dla każdego, komu zależy na szybkim i sprawnym wykonaniu robót od projektu poprzez realizację,
                      na pomiarach wydajności kończąc.</p>
                <hr>
        </div>
    </div>
</div>
<div class="section" id="implementations">
    <div class="section-container">
        <div class="section-heading-container section-heading-container-reverse">
            <h1 class="section-heading">REALIZACJE</h1>
        </div>
			
		{% if galleries.length %}
		<div class="implementations-container">
			{% for gallery in galleries %}
			<div class="implementation">
				<div id="gallery{{loop.index}}" class="implementation-images-container">
					{% for image in gallery.images.slice(0, 1) %}
					<a href="{{ image.limit(1920,1080) }}">
						<img src="{{ image.limit(400,400) }}" class="implementation-image">
					</a>
					{% endfor %}
					{% for image in gallery.images.slice(1, gallery.images.length) %}
					<a href="{{ image.limit(1920,1080) }}" class="implementation-image-hidden">
						<img src="{{ image.limit(400,400) }}">
					</a>
					{% endfor %}
				</div>
				<h2 class="implementation-subtitle">{{ gallery.name }}</h2>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<h3 class="implementations-ifnone">Realizacje zostaną wkrótce dodane</h3>
		{% endif %}

		<div class="section-text-container section-text-container-reverse">
			<hr class="hr-blue">
		</div>
    </div>
</div>
<div class="section" id="about-2">
    <div class="section-container">
        <div class ="section-heading-container">
            <h1 class="section-heading">NASZE KADRY</h1>
        </div>
        <div class="section-text-container">
                <p class="section-text">Posiadamy kadrę złożoną z energicznych, doświadczonych fachowców posiadających wszystkie
                     niezbędne uprawnienia. Nasi pracownicy regularnie przechodzą szkolenia w celu ciągłego podnoszenia
                      swoich kwalifikacji. 

                </p>
                <br>
                <p class="section-text">Dysponujemy nowoczesnym i profesjonalnym sprzętem co  znacznie ułatwia nam pracę i sprawia,
                     że jesteśmy w stu procentach niezależni od firm podwykonawczych.

                </p>
                <br>
                <p class="section-text">Kładziemy bardzo duży nacisk na Bezpieczeństwo i Higienę Pracy,
                     co przekłada się na jeszcze większe zadowolenie naszych klientów.

                </p>
                <hr>
        </div>
    </div>
</div>
<div class="section" id="contact">
    <div class="section-container">
        <div class ="section-heading-container section-heading-container-reverse">
            <h1 class="section-heading">KONTAKT</h1>
        </div>
        <div class="section-text-container section-text-container-reverse">
            <div class="contact-logo"><img src="./images/ms-logo.svg" class="contact-logo-image" alt=""></div>
            <div class="contact-info">
                <div class="contact-item">
                    <span class="contact-title">Adres: </span>
                    <div class="contact-data">
                        <span>ul. Prosta 2<br> 
                        34-300 Żywiec</span>
                    </div>
                </div>
                <div class="contact-item">
                    <span class="contact-title">Telefon: </span>
                    <div class="contact-data">
                        <span>697 519 529<br>
                        693 326 677<br>
                        500 338 700</span>
                    </div>
                </div>
                <div class="contact-item">
                    <span class="contact-title">NIP: </span>
                    <div class="contact-data">
                        <span>553-251-66-17</span>
                    </div>
                </div>
                <div class="contact-item contact-item-noborder">
                    <span class="contact-title">E-mail: </span>
                    <div class="contact-data">
                        <span>e.kania@mastersystem.com.pl<br>
                        </span>
                    </div>
                </div>    
            </div>
            <hr class="hr-blue">
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/libraries/lightgallery/js/lightgallery.min.js"></script>


<script type="text/javascript">
	for (var i = 1; i < 4; i++) {
		lightGallery(document.getElementById('gallery'+i), {
			hash: true,
			galleryId: i
		});
	}
</script>
{% endblock %}
