.section {
    margin-left: -1%;
    width: 100vw;

    .section-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: none;

        .section-heading-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            margin: 5% 0 5% 0;
            width: 70%;
            height: 9em;
            text-align: center;
            box-shadow: 1px 1px 20px #cdcdcd;
            

            .section-heading{
                font-size: 4.5em;
                letter-spacing: 8px;
            }
        }
        .section-heading-container-reverse{
            align-self: flex-start;
        }
        .section-text-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 60%;
            margin: 5% 10% 5% 10%;
            
            .section-text{
                font-size: 2em;
                letter-spacing: 1px;
                text-align: justify;
            }
            hr {

                margin-top: 5%;
                margin-right: 30%;
                width: 70%;
                border: none;
                border-bottom: 0.5em solid red;

            }
            .hr-blue{
                border-color: blue;
                margin-left: 30%;
                margin-right: 0;
            }
            .temporary-logo{
                font-weight: 700;
                font-size: 4em;
                align-self: flex-end;
                margin-bottom: 5%;

                span{
                    margin: none;
                    padding: none;

                }
                .red {
                    color: red;
                }

                .blue{
                    color: blue;
                }
            }
            .contact-info{

                display: flex;
                flex-direction: column;
                font-size: 2em;
                text-align: right;
                width: 60%;

                .contact-item{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 2%;
                    font-size: 1em;
                    box-shadow: 1px 1px 1px #ddd;
                    padding: 3%;
                    

                    .contact-title{ 
                        margin-right: 1%;
                        font-weight: 700;
                        line-height: 2em;
                    }
                    .contact-data{

                        span{
                            line-height: 2em;
                        }
                    }
                }
                /*.contact-item:after{
                    position: absolute;
                    bottom: -0.25em;
                    left: 40%;
                    content:"";
                    width: 60%;
                    z-index: 0;
                    border: 1px solid rgba(255, 0, 0, 0.4);
                }
                .contact-item-noborder:after{
                    border: none;
                }*/
            }
        }
        .section-text-container-reverse{
            align-self: flex-end;
            align-items: flex-end;
        }
    }
}