/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  overflow-x: hidden; }

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url("../fonts/Lato-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url("../fonts/Lato-Light.ttf"); }

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url("../fonts/Lato-Bold.ttf"); }

@font-face {
  font-family: 'Acid-Bold';
  font-weight: 400;
  src: url("../fonts/acid_bold.otf"); }

body {
  font-family: 'Lato', sans-serif; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.section {
  width: 100vw;
  margin-top: 10%; }
  .section .section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: none; }
    .section .section-container .section-heading-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      margin: 5% 0 5% 0;
      width: 70%;
      height: 6em;
      text-align: center;
      box-shadow: 1px 1px 20px #cdcdcd; }
      .section .section-container .section-heading-container .section-heading {
        font-size: 3em;
        letter-spacing: 8px; }
    .section .section-container .section-heading-container-reverse {
      align-self: flex-start; }
    .section .section-container .section-text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
      margin: 5% 10% 5% 10%; }
      .section .section-container .section-text-container .section-text {
        font-size: 1.5em;
        letter-spacing: 1px;
        text-align: justify;
        line-height: 125%; }
      .section .section-container .section-text-container hr {
        margin-top: 5%;
        margin-right: 30%;
        width: 70%;
        border: none;
        border-bottom: 0.35em solid red; }
      .section .section-container .section-text-container .hr-blue {
        border-color: blue;
        margin-left: 30%;
        margin-right: 0; }
      .section .section-container .section-text-container .temporary-logo {
        font-weight: 700;
        font-size: 4em;
        align-self: flex-end;
        margin-bottom: 5%; }
        .section .section-container .section-text-container .temporary-logo span {
          margin: none;
          padding: none; }
        .section .section-container .section-text-container .temporary-logo .red {
          color: red; }
        .section .section-container .section-text-container .temporary-logo .blue {
          color: blue; }
      .section .section-container .section-text-container .contact-info {
        display: flex;
        flex-direction: column;
        font-size: 2em;
        text-align: right;
        width: 60%;
        /*.contact-item:after{
                    position: absolute;
                    bottom: -0.25em;
                    left: 40%;
                    content:"";
                    width: 60%;
                    z-index: 0;
                    border: 1px solid rgba(255, 0, 0, 0.4);
                }
                .contact-item-noborder:after{
                    border: none;
                }*/ }
        .section .section-container .section-text-container .contact-info .contact-item {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 2%;
          font-size: 0.6em;
          box-shadow: 1px 1px 1px #ddd;
          padding: 3%; }
          .section .section-container .section-text-container .contact-info .contact-item .contact-title {
            margin-right: 1%;
            font-weight: 700;
            line-height: 2em; }
          .section .section-container .section-text-container .contact-info .contact-item .contact-data span {
            line-height: 2em; }
    .section .section-container .section-text-container-reverse {
      align-self: flex-end;
      align-items: flex-end; }

.header {
  width: 100vw;
  height: 60vw;
  position: relative; }
  .header .logo-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vw;
    width: 45.5vw;
    height: 6vw;
    background-color: white;
    box-shadow: 1px 1px 20px #888; }
    .header .logo-bar .temporary-logo {
      font-weight: 700;
      font-size: 3.5em; }
      .header .logo-bar .temporary-logo span {
        margin: none;
        padding: none; }
      .header .logo-bar .temporary-logo .red {
        color: red; }
      .header .logo-bar .temporary-logo .blue {
        color: blue; }
  .header .header-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 65% 35%;
    width: 100%;
    height: 100%; }
    .header .header-container .big-photo {
      grid-row: 1 / 3;
      background-image: url("/images/tile1.jpg");
      background-size: 100vw, cover; }
    .header .header-container .header-item-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      .header .header-container .header-item-container .overflow-hidden {
        height: 100%;
        width: 100%;
        overflow: hidden; }
        .header .header-container .header-item-container .overflow-hidden .header-small-photo {
          height: 100%;
          width: 100%;
          filter: blur(0.1vw); }
        .header .header-container .header-item-container .overflow-hidden .header-realizacje {
          background-image: url("/images/tile2.jpg");
          background-size: 50vw, cover; }
        .header .header-container .header-item-container .overflow-hidden .header-kontakt {
          background-image: url("/images/tile3.jpg");
          background-size: 50vw, cover; }
      .header .header-container .header-item-container .heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(2, 23, 35, 0.2); }
        .header .header-container .header-item-container .heading-container h3 {
          font-size: 1.8em;
          letter-spacing: 0.25em; }
          .header .header-container .header-item-container .heading-container h3 a {
            text-decoration: none;
            color: white; }

#footer .footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 4vw 0 2vw 0; }
  #footer .footer-copyright p {
    font-size: 1em;
    letter-spacing: 2px;
    color: black; }
    #footer .footer-copyright p .footer-heart {
      color: red;
      font-size: 1.35vw; }
    #footer .footer-copyright p .footer-link {
      letter-spacing: 3px;
      text-decoration: none;
      color: blue; }
    #footer .footer-copyright p .footer-link:hover {
      text-decoration: underline; }
